<section>
  <header class="bg-dark text-white p-3">
    <h1 class="text-center">Carga de Datos API</h1>
  </header>
  <main class="container my-4">
    <!--<router-outlet></router-outlet>
    <app-product-card></app-product-card>
    <app-product-form></app-product-form>
    <app-product-filter></app-product-filter>
    -->
    <app-product-list></app-product-list>
    
   
    
    
  </main>
  <footer class="bg-dark text-white p-2 text-center">
    <p>Alberto Miguel Garcia Simó</p>
  </footer>
</section>
